[submodule "Game Files/pokecrystal"]
	path = Game Files/pokecrystal
	url = https://github.com/erudnick-cohen/pokecrystal
[submodule "Game Files/pokecrystal-speedchoice"]
	path = Game Files/pokecrystal-speedchoice
	url = https://github.com/erudnick-cohen/pokecrystal-speedchoice.git
[submodule "VanillaSpeedCrystal/pokecrystal-speedchoice"]
	path = VanillaSpeedCrystal/pokecrystal-speedchoice
	url = https://github.com/Dabomstew/pokecrystal-speedchoice.git
[submodule "Speedchoice V7/pokecrystal-speedchoice-new"]
	path = Speedchoice V7/pokecrystal-speedchoice-new
	url = https://github.com/erudnick-cohen/pokecrystal-speedchoice-new
[submodule "Speedchoice Current/pokecrystal-speedchoice"]
	path = Speedchoice Current/pokecrystal-speedchoice
	url = https://github.com/Dabomstew/pokecrystal-speedchoice.git
