#generated randomizer folders
/RandomizerRom
*.pyc
*.docx
*.pyc
*.tmp
*.log
*.gbc
*_SPOILER.txt
build/*
dist/*
RunGui.spec
BuildGUILameName.bat
EKIRBUG.txt
a_SPOILER_Set.txt
aaa_SPOILERB.txt
testBadPlando.txt
